input{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;

    font-size: 12px;
    padding: 5px;

    width: 400px;
    height: 44px;   
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.492);
   
}
button{

    width: 150px;
    height: 44px; 
    border: 2px solid black;
    border-radius: 12px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.492);
    border-radius: 12px; /* Rounded corners */
    background-color: #77CBFA
}
button:hover {
    transform: translateY(-3px);
    border-color: black;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.492);
}