@font-face {
   font-family: Dm Sans;
   src: url(../../fonts/DMSans_24pt-Regular.woff) format(woff) ;
   src: url(../../fonts/DMSans_24pt-Regular.woff2) format(woff2); 
   font-weight: 400;
   
}
@font-face {
   font-family: Dm-Sans;
   src: url(../../fonts/DMSans_36pt-Medium.woff) format(woff) ;
   src: url(../../fonts/DMSans_36pt-Medium.woff) format(woff2); 
   font-weight: 500;
}
@font-face {
   font-family: Dm-Sans;
   src: url(../../fonts/DMSans_18pt-Bold.woff) format(woff) ;
   src: url(../../fonts/DMSans_18pt-Bold.woff2) format(woff2);
   font-weight: 700; 

}


